<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drp.dao.WorksDAO">
	
	<insert id="insertOneWorks" parameterType="com.drp.models.WorksVO">
		INSERT INTO
		t_da_works (works_id, usr_id, works_name, works_spec, works_format, works_cate, works_memo,
		works_ischrg, works_hdgt, works_rgst_dt, works_rgst_tm, works_store_src, works_pageviews,
		works_ciphertext,works_sym_key,works_isvalid_flg,works_theme,works_issu_dt,works_issu_tm)
		VALUES (#{worksVO.works_id}, #{worksVO.usr_id}, #{worksVO.works_name}, #{worksVO.works_spec},
		#{worksVO.works_format}, #{worksVO.works_cate}, #{worksVO.works_memo}, #{worksVO.works_ischrg},
		#{worksVO.works_hdgt}, #{worksVO.works_rgst_dt}, #{worksVO.works_rgst_tm},
		#{worksVO.works_store_src}, #{worksVO.works_pageviews},
		#{worksVO.works_ciphertext},#{worksVO.works_sym_key},#{worksVO.works_isvalid_flg},#{worksVO.works_theme},#{worksVO.works_issu_dt},#{worksVO.works_issu_tm})
	</insert>
	
	<resultMap id="worksUserMap" type="com.drp.models.WorksUserVO">
        <id column="works_id" property="works_id" />
        <result column="usr_id" property="usr_id" />
        <result column="works_name" property="works_name" />
        <result column="works_spec" property="works_spec" />
        <result column="works_format" property="works_format" />
        <result column="works_cate" property="works_cate" />
        <result column="works_memo" property="works_memo" />
        <result column="works_ischrg" property="works_ischrg" />
        <result column="works_hdgt" property="works_hdgt" />
        <result column="works_rgst_dt" property="works_rgst_dt" />
        <result column="works_rgst_tm" property="works_rgst_tm" />
        <result column="works_issu_dt" property="works_issu_dt" />
        <result column="works_issu_tm" property="works_issu_tm" />
        <result column="works_pageviews" property="works_pageviews" />
        <result column="works_src" property="works_src" />
        <result column="works_store_src" property="works_store_src" />
        <result column="works_recinfo_src" property="works_recinfo_src" />
        <result column="works_theme" property="works_theme" />
        <result column="works_sym_key" property="works_sym_key" />
        <result column="works_secr_lvl" property="works_secr_lvl" />
        <result column="works_agent_qty" property="works_agent_qty" />
        <result column="works_auth_qty" property="works_auth_qty" />
        <result column="works_isvalid_flg" property="works_isvalid_flg" />
        <result column="works_ciphertext" property="works_ciphertext" />
        <result column="works_theme" property="works_theme" />
        <association property="userVO" select="getUserNameByUsrId" column="usr_id" />
    </resultMap>

	<!-- (内部被映射，不用写DAO) -->
	<select id="getUserNameByUsrId" parameterType="String" resultType="com.drp.models.UserVO">
		SELECT usr_nm FROM t_usr_info WHERE usr_id = #{usr_id}
	</select>
	
    <select id="getWorksListByUsrId" parameterType="com.drp.models.WorksPageVO" resultMap="worksUserMap">
        SELECT * FROM t_da_works WHERE usr_id = #{worksPageVO.usr_id} LIMIT #{worksPageVO.pageVO.index},#{worksPageVO.pageVO.pageSize}
    </select>
    
     <select id="getWorksDetailsByWorksId" parameterType="String" resultMap="worksUserMap">
        SELECT * FROM t_da_works WHERE works_id = #{works_id}
    </select>
    
     <select id="findWorksInfoByorksName" parameterType="String" resultMap="worksUserMap">
        SELECT * FROM t_da_works WHERE works_name = #{works_name}
    </select>
    
    <sql id="query_worksUserInfo_where">
    	<if test="worksPageVO != null">
    		<if test="worksPageVO.works_name != null">
		   		AND works_name LIKE '%${worksPageVO.works_name}%'
		   	</if>
    	</if>
    </sql>

	<select id="getWorksInfoByWorksName" parameterType="com.drp.models.WorksPageVO" resultMap="worksUserMap">
		SELECT works_id, usr_id, works_name, works_cate, works_spec, works_hdgt, works_pageviews FROM t_da_works
		<where>
			1 = 1
			<include refid="query_worksUserInfo_where" />
		</where>
		LIMIT #{worksPageVO.pageVO.index}, #{worksPageVO.pageVO.pageSize}
	</select>
	
	<!-- 根据works_id更新作品信息 -->
	<update id="updateWorksInfoByWorksId" parameterType="com.drp.models.WorksVO" >
		UPDATE
		t_da_works
		SET
		works_name = #{worksVO.works_name},
		works_memo = #{worksVO.works_memo},
		works_ischrg = #{worksVO.works_ischrg},
		works_hdgt = #{worksVO.works_hdgt}, 
		works_secr_lvl = #{worksVO.works_secr_lvl}
		WHERE
		works_id = #{worksVO.works_id}
	</update>
</mapper>